body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
  background-color: #0f172a;
  height: 60px;
  color: white;
  grid-column: 1/3;
}
.menuBtn {
  width: 30px;
  height: 30px;
  display: none;
}
.sidebar {
  background-color: #334155;
  grid-column: 1/2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top: 30px;
  font-size: 24px;
  gap: 20px;
}
.sideBarMain,
.projects {
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sideBarMain ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  border-radius: 5px;
}

.sideBarMainBtn {
  background-color: #334155;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 30px;
  font-size: 22px;
  width: 100%;
  margin: 0;
  height: 50px;
  border: none;
  gap: 5px;
}

.sideBarMainBtn:hover {
  background-color: #0f172a5b;
}

.projects {
  border-top: solid 2px #64748b;
}

.projects ul li p {
  margin: 0;
  padding: 0;
}

.projects p {
  margin-bottom: 0;
  padding: 0px 20px 0px 30px;
}
.projectItem {
  background-color: #334155;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 30px;
  font-size: 22px;
  width: 100%;
  margin: 0;
  height: 40px;
  border: none;
  gap: 5px;
}
.projectItem:hover {
  background-color: #0f172a5b;
}
.titleP {
  font-size: 26px;
  height: 50px;
}

.addP {
  background-color: #334155;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 30px;
  font-size: 24px;
  width: 100%;
  margin: 0;
  height: 50px;
  border: none;
}
.addP:hover {
  background-color: #0f172a5b;
}

.content {
  background-color: #64748b;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
}
.tasksClt {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tasksCltBtn {
  width: 150px;
  height: 50px;
  background-color: #334155;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  margin: 0 10px;
}

.taskList,
.noteList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.taskList {
  display: flex;
}
.noteList {
  display: none;
}
.taskSection,
.noteSection {
  width: 75%;
  height: 50px;
  background-color: #334155;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 28px;
  padding: 10px;
}
.addProjectModal {
  font: 18px;
  display: none;
  position: fixed;
  background-color: #0f172a85;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.close {
  color: rgba(255, 255, 255, 0.5);
  font-size: 100px;
  right: 30;
  top: 10;
  position: fixed;
}
.addTaskModal,
.addNoteModal {
  font: 18px;
  display: none;
  /* display: flex; */
  position: fixed;
  background-color: #0f172a85;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.formSsction {
  width: 300px;
  height: 200px;
  background-color: #0f172a;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noteFormSsction {
  height: 350px;
}
.notetextarea {
  color: #64748b;
  background-color: #0f172a;
  border-radius: 10px;
  width: 200px;
  border: #64748b solid 2px;
}
#form,
#Taskform,
#Noteform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#Pname,
#Tname,
#Nname {
  color: #64748b;
  font-size: 18px;
  background-color: #0f172a;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  border: none;
  border: #64748b solid 2px;
}
#Psubmit,
#Tsubmit,
#Nsubmit {
  background-color: #0f172a;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  color: #64748b;
  border: #64748b solid 2px;
}

@media only screen and (max-width: 800px) {
  .menuBtn {
    width: 30px;
    height: 30px;
    display: block;
  }
  .header {
    justify-content: start;
  }
  .sidebar {
    position: fixed;
    height: 100%;
    width: 200px;
    top: 60px;
    display: none;
  }
  .content {
    grid-column: 1/3;
  }

  .tasksCltBtn {
    width: 140px;
  }
}
.Active {
  display: flex;
}
